body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 90px 1fr 70px;
}

header{
    background-color: rgb(206, 187, 180);
    display: flex;
    align-items: center;
    height: 100;
}

main{
    background-image: url(pexels-photo-6984610.jpeg);
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

footer{
    background-color: rgb(206, 187, 180);
}

video{
    width: 200px;
    height: 200px;
}

.video{
    background: white;
    width: 300px;
    height: 300px;
}

.imagemCabecalho{
    height: 70px;
    width: 70px;
    padding: 20px;
}